.three {
    background: #131212;
}

.three {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.choose__platform {
    font-family: 'Audiowide';
    font-style: normal;
    font-weight: 400;
    font-size: 3rem;
    line-height: 3.8rem;
    letter-spacing: -1.05px;
    color: #FFFFFF;
    width: 307px;
}

.loremipsum {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 2rem;
    color: #A8A8A8;
    width: 17.4rem;
}

.platform {
    background: #262837;
    border-radius: 9px;
}

.pone {
    width: 25.5rem;
    height: 24.7rem;
    margin-bottom: 2rem;
}

.ptwo {
    width: 25.5rem;
    height: 35.2rem;
    margin-bottom: 2rem;
}

.pthree {
    width: 25.5rem;
    height: 35.2rem;
}

.pfour {
    width: 25.5rem;
    height: 24.7rem;
}

.right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.left {
    margin-left: 20rem;
}

.platforN {
    font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 1.8rem;
line-height: 2.2rem;
letter-spacing: -0.63px;
color: #FFFFFF;
margin-left: 2rem;
width: 195px;
height: 36px;
}

.forever {
    background: #6E41E2;
border-radius: 8px;
border: none;
width: 3.8rem;
height: 2.3rem;
font-size: 0.5rem;
color: #ffffff;
margin-top: 1.7rem;
}

.sometext {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 1rem;
line-height: 1.25rem;
letter-spacing: -0.336px;
color: #A8A8A8;
margin-left: 2rem;
}

.buynow {
    background: linear-gradient(91.25deg, #A59DFF -66%, #1500FF 263.02%);
border-radius: 5px;
border: none;
color: #DEFFE1;
font-size: 0.6rem;
width: 5.5rem;
height: 2rem;
margin-left: 18rem;
}

.platformAndForever {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    height: 4rem;
}

.buy {
    margin-top: 13rem;
}

.now {
    margin-top: 24rem;
}
